<h1><%= gravatar_for(@user) %> <%= @user.name %>'s profile:</h1>

<% if @user == current_user %> 
	<%= render 'shared/add_link', :link => @link %>
<% end %>

<% unless @user == current_user %>
	<div id="follow_form">
		<% if current_user.following?(@user) %>
			<%= render 'unfollow' %>
		<% else  %>
			<%= render 'follow' %>
		<% end %>
	</div>
<% end %>

<div class="links">
	
	<% @user.links.each do |link| %>
	
		<%= render 'shared/link', :link => link %>
		
	<% end %>
	
</div>