<h1>Edit your link</h1>

<%= form_for @link do |f| %>
	<% @link.errors.full_messages.each do |error| %>
		<p class='errors'><%= error %></p>
	<% end %>
	<%= f.label :title %>
	<%= f.text_field :display_title %>
		<%= f.submit "Save"%>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<%= link_to link_path(@link), :method=>:delete, :confirm => "Are you sure?" do %>
		<i class='icon-trash icon'></i> Delete
	<% end %>


<% end %>
