<h1><%= current_user.email %>'s feed:</h1>
 

<p><%= link_to "Add a link.", new_link_path %></p>

<div class="links">
	<% @feed do |link| %>
		<div class="link">
			<div class="main">
				<h3><span class="link_fav"><%= image_tag(link.favicon_url, :class=>"bordered-fav") if link.favicon_url %></span> <span class="link_title"><%= link_to link.display_title, link.url %></span></h3>
				<div class="description"><p><%= link.description %></p></div>
				<div class="info">
					<h5><%= link_to link.display_url, link.url %><span class="pipe">|</span><span class="author">James Dean</span></h5>
					
					<h5 id="time"><%= time_ago_in_words(link.created_at) + " ago"%></h5>
				</div>
			</div>
			<div class="side">

							<%= link_to edit_link_path(link) do %>
								<i class='icon-pencil icon'></i> Edit
							<% end %>
							<%= link_to link_path(link), :method=>:delete, :confirm => "Are you sure?" do %>
								<i class='icon-trash icon'></i> Delete
							<% end %>


						</div>
		</div>
	<% end %>
</div>