<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Linkbib", root_path, class: "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <% if user_signed_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>          
          <% end %>
          <li><a href="#contact">Contact</a></li>
	        <% if !user_signed_in? %>
	        <li><%= link_to "Sign in", new_user_session_path %></li>
	        <li><%= link_to "Sign up", new_user_registration_path %></li>
	        <% end %>
        </ul>

	<% if user_signed_in? %>
	<button class="btn"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></button>
	<% end %>
		
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>